<div class="container-fluid">
    <!-- /.row -->
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="BITCOIN" colour="primary" type="cloud" contracts="1" earnings="$150.00" goto="btc">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Bitcoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Litecoin" colour="yellow" type="cloud" contracts="1" earnings="$150.00" goto="orders.html">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font"> Litecoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>

    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Dashcoion" colour="green" type="cloud" contracts="1" earnings="$150.00" goto="orders.html">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Dashcoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Ethereum" colour="red" type="cloud" contracts="1" earnings="$150.00" goto="orders.html">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Ethereum</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Bitcoin" colour="primary" type="building-o" earnings="$150.00" contracts="1" goto="orders.html">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Bitcoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Litecoin" colour="yellow" type="building-o" earnings="$150.00" contracts="1" goto="orders.html">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Litecoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Dashcoin" colour="green" type="building-o" earnings="$150.00" contracts="1" goto="orders.html">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Dashcoin</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="0.00000000" hashrate="1" address="test" price="$100.00" comments="Ethereum" colour="red" type="building-o" earnings="$150.00" contracts="1" goto="orders.html">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge text-font">0.00000000</div>
                    <div class="text-font">Ethereum</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/orders','btc']">
            <div class="panel-footer">
                <span class="pull-left text-font">1 Orders</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Hashrate</span>
            <span class="pull-right text-font">1</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Price</span>
            <span class="pull-right text-font">$100.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left">Earnings</span>
            <span class="pull-right text-font">$150.00</span>
            <div class="clearfix"></div>
        </div>
        </a>
        <a [routerLink]="['/orders','btc']">
        <div class="panel-footer">
            <span class="pull-left text-font">test</span>
            <div class="clearfix"></div>
        </div>
        </a>
    </div>
</div>
</div>
</div>            
    