<section class="menu1" id="menu2-k">
<nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-white nav-padding">SIGNINGMINERS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav text-white">
            <li><a class="text-white nav-padding">PRICING</a></li>
            <li><a class="text-white nav-padding">FEATURES</a></li>
            <li><a class="text-white nav-padding">FAQ</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</section>
<section class="home-bg" id="header1-0">
        <div class="container">
            <div class="row heading">
                <div class="col-md-10 col-md-offset-1 text-xs-center text-white">

                    <h1 class="heading-title">SigningMiners</h1>
                    <p class="heading-text">SigningMiners make mining cryptocurrency easy. We've done the hard work of meticulously researching miners that are profitable for us (and you)!</p>
                    <div class="mbr-section-btn text-center"><a class="btn btn-lg btn-primary" href="dashboard/index.php">Dashboard</a> </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="row">

                    <div class="mbr-cards-col col-xs-12 col-lg-6">
                        <div class="card row">
                            <div class="card-img col-xs-3"><span class="fa fa-home home-font"></span></div>
                            <div class="card-box col-xs-9 text-white">
                                <h4 class="card-title">CoLocate</h4>
                                <p class="card-text">Send us your miners and we'll host them for you in our data center!</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="mbr-cards-col col-xs-12 col-lg-6">
                        <div class="card row">
                            <div class="card-img col-xs-3"><span class="fa fa-gears home-font"></span></div>
                            <div class="card-box col-xs-9 text-white">
                                <h4 class="card-title mbr-section-subtitle sub-2">Purchase Hash Power</h4>
                                <p class="card-text mbr-section-text text-1">Purchase hashpower from our miners by cryptocurrency type.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#features19-g"><i class="mbri-down"></i></a></div>
</section>